.hero-section {
	font-family: Graphik LCG;
	background-image: url(../../assets/bg-1.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 76vh;
}

.hero-div {
	background: linear-gradient(#0b0f1a, #0f131fe8, #0b0f1a);
	height: 76vh;
}

@media (max-width: 700px) {
	.hero-section {
		background-size: 215%;
		height: auto;
		min-height: 82vh;
		background-position: top center;
	}

	.hero-div {
		height: auto;
		min-height: 82vh;
	}
}
